name: deployment to rasberry pi

concurrency:
  group: production
  cancel-in-progress: true

on:
  push:
    branches: [ "master" ]
  pull_request:
      branches: [ "master" ]

jobs:
  build_and_packaging:
    runs-on: self-hosted
    environment: production
    steps:
      - name: checking db is up
        run: pg_isready -h localhost -p 5432
      - name: Checkout repo code
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: maven deps caching
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build with Maven
        run: mvn package war:war --file pom.xml
      # based on https://medium.com/geekculture/turn-your-raspberry-pi-into-a-server-to-run-your-java-spring-mvc-app-862214279587
      - name: setup var files
        run: rm -rfv /var/springApp/* && cv /home/ubuntu/actions-runner/_work/ensicaen-patronusControl-server/ensicaen-patronusControl-server/target/pc-server-0.0.1-SNAPSHOT.war /var/springApp/
      # TODO : implement service deployment
      #- name: setup systemd service
      #  run: |
      #    cp /home/ubuntu/actions-runner/_work/ensicaen-patronusControl-server/ensicaen-patronusControl-server/.github/ressources/PatronusControlAPI.service /etc/systemd/system/
      #    systemctl daemon-reload